.pageSixContent {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

  > div {
    flex: 1;

    &.childCenter {
      height: 500px;
      margin: 0 50px;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-left: 1px solid red;
      border-right: 1px solid red;
    }
  }
}
