@import "../../asset/style/dominant";
@mixin fullScreen{
  left: 0;
  right: 0;
  bottom: 0;
  top:0;
}
$login-input-width:230px;
$login-input-height:35px;
$login-button-width:230px;
$login-button-height:30px;
#loginBox{
  background-image: url("../../asset/images/loginBg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  overflow: hidden;
  @include fullScreen;
  display: flex;
  flex-wrap:wrap;/*设置或检索伸缩盒对象的子元素超出父容器时是否换行,nowrap不换行，wrap换行*/
  justify-content:center ;/*space-between 头尾各靠两边，中间均分*//*flex-start | flex-end | center | space-between | space-around*/
  align-items:center;/*纵向显示方式*/
  .particles{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.25);
  }
  .login-item{
    width: 360px;
    min-height: 315px;
    z-index: 5;
    background-color: $login-bgColor;
    box-shadow: 0 0 10px rgba(255,255,255,0.3);
    border-radius: 10px;
    text-align: center;
    >img{
      margin: 20px 0;
    }
    .login-input-box{
      border-bottom: 1px solid $login-inputFontColor;
      width: $login-input-width;
      height: $login-input-height;
      margin: 0 auto 20px;
      text-align: left;
      >.iconfont{
        color: $login-inputFontColor;
        display: inline-block;
        font-size: 30px;
        padding-top: 2px;
      }
      >input{
        width:calc(100% - 40px);
        height: $login-input-height;
        background-color: transparent;
        outline: none;
        border: none;
        line-height: $login-input-height;
        color: $login-inputFontColor;
        padding-left: 8px;
        position: relative;
        bottom: 3px;
      }
    }
    div.userFocus,div.pwdFocus{
      border-bottom: 1px solid $login-inputSignColor;
      >.iconfont{
        color: $login-inputSignColor;
      }
    }
    .ieRemPwd{
      text-align: left;
      margin-left: 71px;
      span{
        color: $login-inputFontColor;
      }
    }
    >button{
      margin-top: 20px;
      width: $login-button-width;
      height: $login-button-height;
      color: #fff;
      border: 1px solid $dominant-hue;
      background-color: $dominant-hue;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      transition: all .15s linear;
    }
    >p{
      font-size: 14px;
      margin-top: 12px;
      color: $dominant-hue;
      opacity:0;
    }
  }
}

//淡入淡出动画
@keyframes fadeInOut {
  0%{opacity:0}
  20%{opacity:1}
  80%{opacity:1}
  100%{opacity:0}
}
.fadeAnimation{
  animation:fadeInOut 1s linear both;
}