@import '../../asset/style/dominant';
$login-input-height: 30px;
$login-button-width: 180px;

#loginArea {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  > ul {
    &.loginContent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 340px;
      min-height: 246px;
      flex-direction: column;

      > li {
        &.title {
          font-size: 32px;
          font-weight: 700;
        }

        &.userItemBox {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 70%;
          flex-direction: column;

          input {
            width: 100%;
            height: $login-input-height;
            border: none;
            border-bottom: 1px solid;
            line-height: $login-input-height;

            &:first-child {
              margin-bottom: 20px;
            }
          }
        }

        &.loading {
          display: flex;
          align-items: center;
          justify-content: center;

          > img {
            margin-right: 5px;
          }
        }

        &.loginBotton {
          > button {
            width: $login-button-width;
            height: $login-input-height;
            border: 1px solid;
            border-radius: 8px;
            letter-spacing: 1px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
