* {
  font-family: "Helvetica Neue", Helvetica, Arial, "Micros≈oft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: $font-color;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button,
input,
select {
  outline: none;
}

a {
  text-decoration: none;
  color: $font-color;

  &:hover {
    color: $primary-color;
  }
}

html,
body {
  height: 100%;
}

:global {
  #root {
    height: 100%;
  }
}

::-moz-focus-inner { border: none; } /* 火狐按钮点击后虚线框去除 */

input:-webkit-autofill { /* 谷歌浏览器input框自动填充黄色背景去除 */
  -webkit-animation-name: autofill; /* stylelint-disable-line property-no-vendor-prefix */
  -webkit-animation-fill-mode: both; /* stylelint-disable-line property-no-vendor-prefix */
}

@-webkit-keyframes autofill { /* stylelint-disable-line at-rule-no-vendor-prefix */
  to {
    color: $font-color;
    background: transparent;
  }
}
