* {
  font-family: "Helvetica Neue", Helvetica, Arial, "Micros≈oft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: $font-color;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button,
input,
select {
  outline: none;
}

a {
  text-decoration: none;
  color: $font-color;

  &:hover {
    color: $primary-color;
  }
}

html,
body {
  height: 100%;
}

:global {
  #root {
    height: 100%;
  }
}
