@mixin hidden-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin custom-scrollbar {
    &::-webkit-scrollbar {
        width: $scrollbar-size;
        height: $scrollbar-size;
    }
    &::-webkit-scrollbar-thumb {
        background: $scrollbar-bg;
        border-radius: $scrollbar-size;
    }
}

@mixin custom-vertical-scrollbar {
    &::-webkit-scrollbar {
        width: $scrollbar-size;
        height: 0;
    }
    &::-webkit-scrollbar-thumb {
        background: $scrollbar-bg;
        border-radius: $scrollbar-size;
    }
}

@mixin custom-horizontal-scrollbar {
    &::-webkit-scrollbar {
        width: 0;
        height: $scrollbar-size;
    }
    &::-webkit-scrollbar-thumb {
        background: $scrollbar-bg;
        border-radius: $scrollbar-size;
    }
}
