.siderMenu {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    border-right: 1px solid $border-color-base;

    .title {
        margin-top: 6px;
        padding-left: 24px;
        color: $label-color;
        font-weight: 500;
        font-size: $font-size-xl;
    }

    .routes {
        flex: 1;
        overflow-y: auto;
        @include hidden-scrollbar;
    }

    .logout {
        height: 40px;
        padding-left: 24px;
        line-height: 40px;
        border-top: 1px solid $border-color-base;
        cursor: pointer;

        &:hover {
            color: $primary-color;
        }
    }

    .label {
        margin-left: 10px;
    }

    :global {
        .ant-menu-inline {
            border-right: none;
        }
    }
}
